---
title: Tentang
layout: base.njk
---

<div class="container text-center" style="padding-top: 130px;">
    <h5 class="font-weight-bold">
        <p>To contribute to this project, please send an email to</p>
        <span>
            <mark class="animated tada">
                <a class="text-decoration-none text-dark"
                    href="mailto:rezafauzizisiwaduha@gmail.com">rezafauzizisiwaduha@gmail.com</a>
            </mark>
        </span>
        or
        <span>
            <mark class="animated tada">
                <a class="text-decoration-none text-dark"
                    href="https://github.com/rezaduha/info-covid19-id/issues">submit an issue on Github</a>
            </mark>
            .
        </span>
    </h5>
</div>