---
title: Info Covid19 Indonesia
layout: base.njk
---

<h1>Info COVID19 .id 🇮🇩 </h1>

<ul>
    <li>Terkonfirmasi : {{ covid19.confirmed.value }}</li>
    <li>Dalam Perawatan : {{ covid19.activeCare.value }}</li>
    <li>Sembuh : {{ covid19.recovered.value }}</li>
    <li>Meninggal : {{ covid19.deaths.value }}</li>
</ul>